<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Maiz.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Maiz.My.MySettings.TGConn" connectionString="Data Source=SERVER2008\SERVER12;Initial Catalog=MAIZ;Persist Security Info=True;User ID=sa;Password=Usuario01"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Maiz.My.MySettings>
      <setting name="Maiz_WebServiceBanxico_DgieWS" serializeAs="String">
        <value>http://www.banxico.org.mx/DgieWSWeb/DgieWS</value>
      </setting>
    </Maiz.My.MySettings>
  </applicationSettings>
</configuration>